@media (max-width: 415px) {
  .exp-top-head {
    background-position-x: -270px !important;
  }

  .hp-feedback {
    .req-formbox {
      padding: 5px 25px !important;
      margin: 25px 20px !important;
    }
  }

  .hp-portfolio {
    .box-down {
      margin-bottom: 75px !important;
    }

    .box-small {
      margin-bottom: 125px !important;
    }
  }

  .hp-top-head {
    .top-head-box {
      .small-imgs-code {
        top: 87% !important;
      }

      .small-imgs-android {
        top: 100% !important;
        right: 7% !important;
      }

      .small-imgs {
        top: 110% !important;
        left: -2% !important;
      }
    }
  }
  .hp-portfolio {
    .pf-box {
      padding-bottom: 50px;
      .pf-box-title {
        .title-border {
          display: none;
        }
      }
    }
  }
}

.hp-expertise .exp-view-more, .hp-portfolio .exp-view-more {
    padding-left: 20px;
}

@media (min-width: 1200px) {
  .footer {
    .container .row .col-md-4 .left-box {
      padding-left: 0px !important;
      height: 240px;

      .foot-copyrights {

      }
    }
    .foot-box {
      margin: auto !important;
      /*padding-left: 60px !important;*/
    }

    .foot-box:last-child {
      /*padding-left: 100px !important;*/
    }
  }
}

.navbar-default {
  background-color: #fff !important;
  padding: 5px 0;
  box-shadow: 0 3px 3px rgba(153, 153, 153, 0.5);
}

.footer {
  background: #232323;
  color: #fff;
  padding: 20px 0px 0px 0px;
  .list-icon{
      margin-right: 10px;
  }
  .foot-title {
    font-size: 36px;
    color: #ffffff;
    font-family: 'Brandon Gratesque';
    font-style: normal;
    font-weight: 400;
  }

  .foot-copyrights {
      color: #ffffff;
      font-size: 15px;
      background: #862218;
      font-weight: 100;
  }
  .copyright-text{
    margin-top: 18px;
    float: left;
  }
  .copyright-social{
      display: inline-block;
      float: right;
      ul{
          list-style: none;
          padding: 0;
          margin: 12px 0 12px 0;
          li{
              display: inline-block;
              font-size: 21px;
              background: #232323;
              border-radius: 50%;
            width: 36px;
            height: 36px;
            text-align: center;
            line-height: 27px;
          }
      }
  }

  .social {
    margin: 15px 0;

    a, a:active, a:link, a:visited {
      color: #fff;
      font-size: 15px;
      padding-right: 10px;
      text-decoration: none;
      font-family: 'Open Sans';
      font-weight: 100;
    }
    a:hover {
      color: #8c8c8c;
      text-decoration: none;
    }

  }
  .foot-contacts{
      margin: 15px 0 40px 0;
      [class^="col-"]{
          padding: 4px;
      }
      input, textarea{
        padding: 12px 17px;
        font-size: 16px;
        border: 0;
        color: #232323;
        outline: none;
        width: 100%;
      }
      [type="submit"]{
          padding: 10px 65px;
            background: #862218;
            border-radius: 60px;
            color: #fff;
            font-family: 'Brandon Gratesque Medium';
            font-size: 15px;
            text-transform: uppercase;
            text-decoration: none;
            border: 0;
            &:hover{
                background: #b80000;
            }
      }
  }

  .fa-social {
    a, a:active, a:visited, .a:link {
      font-size: 15px !important;
    }
  }

  ul {
    /*list-style: none;*/
    /*margin-left: -45px;*/
    padding-left: 15px;
    li {
      font-size: 12px;
      color: #fff;
      padding: 5px 5px;

      a {
        font-weight: 100;
      }
    }
  }
}

header .navbar-default .navbar-nav > li > a {
  color: #262626;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  text-transform: uppercase;
}

header .navbar-default .navbar-nav > li > a.active {
  color: $dark-red;
  text-decoration: none;
}

header .navbar-collapse {
  background: #fff;

  .central-menu, .navbar-nav {
    a:hover {
      color: $dark-red;
    }

    .active a, .active a:link, .active a:visited {
      background: #fff;
      color: #262626;
    }

    .active a:hover {
      &:before {
        content: " ";
        position: absolute;
        top: 104%;
        width: 0;
        right: 0;
        border-bottom: 3px solid darkred;
        display: inline-block;
        transition: all .2s ease-in-out;
      }
    }
  }
}

.navbar-brand img {
  padding-top: 0;
  margin: -15px auto;
}



@media (min-width: 700px) {
  header .central-menu {
    margin-left: 15%;
  }

  .hp-expertise {
    .fleft-img {
      text-align: justify !important;

      img {
        padding-left: 50px !important;
      }
    }

    .fleft-list {
      display: block !important;
    }
  }
}

@media screen and (min-width: 760px) and (max-width: 1200px) {
  .hp-portfolio {
    .pf-box {
      /*padding-bottom: 105px;*/
    }
  }
}

@media screen and (min-width: 750px) and (max-width: 1200px) {
  .hp-portfolio {
    .pf-box {
      .pf-box-title {
        .title-border {
          display: none;
        }
      }
    }
  }
}

@media (min-width: 800px) {
  header .central-menu {
    margin-left: 25%;
  }
}



.hp-top-head {
  padding: 10px 50px 0;
  margin-top: 60px;
  background: linear-gradient(60deg, #701b19, #8f2e2b 50%, #a63c39);

  .clearfix {
    padding-left: 0;
  }

  .top-head-box {

    .small-imgs, .small-imgs-android,
    .small-imgs-code, .small-imgs-python,
    .small-imgs-apple, .small-imgs-android2,
    .small-imgs-code2, .small-imgs2 {
      position: absolute;
      top: 15%;
      right: 40%;
      -o-transition: all 1.5s ease-in-out;
      -moz-transition: all 1.5s ease-in-out;
      -webkit-transition: all 1.5s ease-in-out;
      transition: all 1.5s ease-in-out;
    }

    .small-imgs-android {
      top: 45%;
      right: 47%;
    }

    .small-imgs-code {
      top: 16%;
      right: 55%;
    }

    .small-imgs-python {
      top: 60%;
      right: 32%;
    }

    .small-imgs-apple {
      top: 27%;
      right: 30%;
    }

    .small-imgs-android2 {
      top: 15%;
      right: 5%;
    }

    .small-imgs2 {
      top: 70%;
      right: 3%;
    }

    .small-imgs-code2 {
      top: 45%;
      right: 6%;
    }

    .small-imgs:hover, .small-imgs-android:hover,
    .small-imgs-code:hover, .small-imgs-python:hover,
    .small-imgs-apple:hover, .small-imgs-android2:hover,
    .small-imgs-code2:hover, .small-imgs2:hover {
      -o-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      -o-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
      -moz-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      cursor: pointer;
    }

    .head-logo {
      position: relative;
      left: 0;
      float: left;
      padding-top: 30px;
      margin-left: 0;
    }

    .head-text {
      float: left;
      color: #fff;
      padding: 95px 10px 0;
      display: flex;
      flex-direction: column;
      font-weight: 400;
      /*font-family: 'Brandon Gratesque';*/
      line-height: 90px;

      .small-text {
        font-size: 18px;
        line-height: 60px;
      }

      .big-text {
        text-transform: uppercase;
        font-size: 36px;
        line-height: 60px;
      }

      .link-btn {
        /*padding-top: 45px;*/
        text-transform: uppercase;
        font-family: "Open Sans";

        a, a:active, a:link, a:visited {
          color: $dark-red;
          padding: 8px 35px;
          font-size: 14px;
          border-radius: 60px;
          background: #fff;
          text-decoration: none;
          img {
            padding-left: 15px;
            padding-bottom: 2px;
          }
        }

        a:hover {
          text-decoration: none;
          color: red;
        }
      }
    }
  }
}

.hp-top-head .carousel .carousel-inner .item, .hp-top-head .carousel .carousel-inner .item .active {
  width: 100%;
  height: 500px;
}

.hp-top-head .carousel .carousel-inner .item, .hp-top-head .carousel .carousel-inner .item .active {
  .head-logo {
    position: relative;
    left: 0;
    float: left;
    padding-top: 30px;
    margin-left: 0;
    width: 73%;
  }
}

.hp-expertise, .hp-portfolio, .hp-feedback {
  margin-top: 45px;

  .exp-title {
    font-size: 28px;
    color: #232323;
    padding: 10px 0;
    text-transform: uppercase;
    font-family: "Brandon Gratesque";
  }

  .exp-view-more {
    padding: 20px 0;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    display: inline-table;

    a, a:active, a:link, a:visited {
      background: #e7e7e7;
      color: darkred;
      font-size: 14px;
      padding: 5px 15px;
      border-radius: 60px;
      text-decoration: none;

      img {
        padding-left: 15px;
        padding-bottom: 3px;
      }
    }

    a:hover {
      text-decoration: none;
      color: red;

      img {
        opacity: 0.6;
      }
    }
  }

  .exp-img-box {
    text-align: center;
    padding: 10px 15px;

    img {
      height: 60px;
    }
  }

  .exp-img-title {
    text-align: center;
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
  }

  .exp-img-list {
    padding: 10px 30px;
    font-size: 13px;
    opacity: 0.5;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  @media (max-width: 415px) {
    .hp-expertise {
      .exp-img-title {
        padding: 10px 100px !important;
      }
    }
  }
}

.hp-portfolio, .exp-content {
  margin-bottom: 35px;

  .exmpty-sq {
    margin: 45px auto;
  }

  .pf-box {
    position: relative;
    margin: 10px auto 15px;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    .img-logo1, .img-sm {
      position: absolute;
      width: 63%;
      top: 35%;
      left: 21%;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      z-index: 99;
    }

    .img-sm {
      width: 50% !important;
      left: 25% !important;
      top: 20%;
    }

    .ehover12 {
      .img-responsive {
        /*width: 380px;*/
        height: 250px;
        filter: grayscale(100%);
        opacity: 0.7;
        background-position: center center;
        background-size: cover;
        width: 100%;
      }
    }

    .ehover12 img {
      transition: none;
      transform: none;
      object-fit: cover;
    }

    .ehover12:hover {
      .img-responsive {
        opacity: 1;
        -webkit-filter: blur(0px);
        filter: blur(0px) grayscale(0%)
      }

      .img-logo1 {
        opacity: 1;
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
      }
    }

    .pf-box-title {
      font-family: 'Open Sans', sans-serif !important;
      font-size: 26px !important;
      padding: 10px 0 !important;

      .title-text-pf {
        color: #262626 !important;
      }

      .title-border {
        width: 90px;
        height: 4px;
        background: $dark-red;
        margin-top: 19px;
      }
    }
  }

   .pf-box:hover {
     cursor: pointer;
  }
}

.hp-feedback, .google-map {
  margin: 60px auto;

  .exp-title {
    font-family: "Brandon Gratesque";
  }

  .req-formbox {
    margin-top: 15px;
    margin-left: -25px;
    text-align: center;

    input {
      display: list-item;
      width: 100%;
      margin: 35px 0;
      border: 0;
      padding: 10px 5px;
      border-bottom: 1px solid #b9b9b9;

      &:focus {
        border: 0;
      }
    }

    input:first-child {
      margin-top: -20px;
    }

    a, a:active, a:link, a:visited {
      padding: 12px 50px;
      background: $dark-red;
      border-radius: 60px;
      color: #fff;
      font-family: 'Brandon Gratesque Medium';
      font-size: 15px;
      text-transform: uppercase;
      text-decoration: none;
    }

    a:hover {
      background: #b80000;
      text-decoration: none;
    }
  }
}

//// Hover Effects
.hover {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.ehover12 {
  background: #646464;
  position: relative;

  img {
    max-width: none;
    //width: calc(100% + 20px);
    -webkit-transition: opacity .35s,-webkit-transform .35s;
    transition: opacity .35s,transform .35s;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  &:hover img {
    opacity: .4;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  h2 {
    position: relative;
    overflow: hidden;
    padding: .5em 0;
    background-color: transparent;
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: #fff;
      -webkit-transition: -webkit-transform .35s;
      transition: transform .35s;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  &:hover h2::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  button {
    color: #FFF;
    opacity: 0;
    -webkit-transition: opacity .35s,-webkit-transform .35s;
    transition: opacity .35s,transform .35s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  &:hover button {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .box-text{
      position: absolute;
    bottom: 0;
    padding: 15px;
    color: #fff;
    display: none;
  }
  &:hover .box-text{
      display: block;
  }
}
.exp-content {
    &.we-team{
        padding-bottom: 40px;
        p{
            font-size: 19px;
            line-height: 30px;
            strong{
                font-weight: 600;
            }
        }
    }
    &.our-philosophy{
        background: #f9f9f9;
        padding-bottom: 60px;
        .block{
            text-align: center;
            margin-top: 5px;
            margin-bottom: 10px;
            .block-icon{
                font-size: 70px;
                color: #862218;
            }
            .block-title{
                margin-top: 5px;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 600;
            }
            .block-text{
                margin-top: 28px;
                line-height: 22px;
                font-size: 15px;
            }
        }
    }
    &.the-command{
        .red{
            color: #862218;
        }
        .command-wraper{
            float: left;
            overflow: hidden;
            height: auto;
        }
        .show-all-panel{
            text-align: center;
            margin-top: 50px;
            margin-bottom: 30px;
            .show-all-btn{
                background: #862218;
                color: #fff;
                display: inline-block;
                border-radius: 50%;
                width: 70px;
                height: 70px;
                font-size: 34px;
                line-height: 65px;
                cursor: pointer;
            }
            .show-all-text{
                color: #862218;
                margin-top: 14px;
                font-size: 16px;
            }
        }
        .block-command{
            padding: 15px 15px;
            margin-bottom: 10px;
            &.join .block-photo{
                background: #862218;
                position: relative;
                cursor: pointer;
                span{
                    position: absolute;
                    top: 35%;
                    width: 100%;
                    color: #fff;
                    text-align: center;
                    font-size: 3vw;
                    padding: 0 2vw;
                }
            }
        }
        .block-photo{
            width: 90%;
            padding-top: 90%;
            margin: auto;
            background-position: center center;
            background-size: cover;
            border: 3px solid #862218;
            border-radius: 50%;
            box-shadow: -5px 5px 30px rgba(102, 102, 102, 0.5);
        }
        .block-name{
            color: #862218;
            margin-top: 20px;
            font-size: 24px;
            text-align: center;
        }
        .block-post{
            text-align: center;
            font-size: 15px;
        }
    }
    .section-title{
        font-size: 32px;
        color: #232323;
        padding: 10px 0;
        margin: 10px 0 20px 0;
        text-transform: uppercase;
        font-family: "Brandon Gratesque";
    }
}
.google-map{
    position: relative;
    height: 50vh;
    min-height: 300px;
    #map{
        height: 100%;
    }
    .map-filter{
        position: absolute;
        top: -1vh;
        left: 0;
        height: 30vh;
        width: 100%;
        background: linear-gradient(white 15%, rgba(255, 255, 255, 0.4) 63%, rgba(255, 255, 255, 0));
        z-index: 99;
    }
    .google-map-contacts{
        bottom: 10vh;
        top: auto;
        left: 5vw;
        background: #f9f9f9;
        box-shadow: 0px 0px 10px rgba(102, 102, 102, 0.6);
        .contact-info{
            width: 80%;
            margin: 25px auto !important;
            .contact-title{
                text-transform: uppercase;
                font-weight: 600;
                font-size: 17px;
                margin-bottom: 36px;
            }
            p{
                line-height: 30px;
            }
        }
    }
}
@media (min-width: 768px) {
    .block-command.join .block-photo span{
        font-size: 14px !important;
        padding: 0 20px !important;
    }
    .carousel-caption {
        right: 0%;
        left: 0%;
    }
}
@media (min-width: 992px) {
    .block-command.join .block-photo span{
        font-size: 24px !important;
        padding: 0 33px !important;
    }
}
@media screen and (min-width: 750px) and (max-width: 1200px) {
  .hp-portfolio {
    .pf-box {
      .pf-box-title {
          font-size: 24px !important;
      }
    }
  }
}
.filter{
    margin-bottom: 30px;
}
.carousel-caption{
    text-align: left;
    padding-bottom: 0;
    a{
        text-shadow: none;
    }
}
