@media (max-width: 415px) {
  .exp-top-head {
    background-position-x: -270px !important;
  }

  .hp-feedback {
    .req-formbox {
      padding: 5px 25px !important;
      margin: 25px 20px !important;
    }
  }

  .hp-portfolio {
    .box-down {
      margin-bottom: 75px !important;
    }

    .box-small {
      margin-bottom: 125px !important;
    }
  }

  .hp-top-head {
    .top-head-box {
      .small-imgs-code {
        top: 87% !important;
      }

      .small-imgs-android {
        top: 100% !important;
        right: 7% !important;
      }

      .small-imgs {
        top: 110% !important;
        left: -2% !important;
      }
    }
  }
}

.navbar-default {
  background-color: #fff !important;
  padding: 5px 0;
}

.footer {
  background: #0f0f0f;
  color: #fff;
  padding: 10px 50px;

  .foot-title {
    font-size: 28px;
    color: red;
    font-family: 'Brandon Gratesque';
    font-style: normal;
    font-weight: 400;
  }

  .foot-copyrights {
    color: #8c8c8c;
    font-size: 14px;
    vertical-align: bottom;

    span {
      vertical-align: bottom;
    }
  }

  .social, .foot-contacts {
    margin: 15px 0;

    a, a:active, a:link, a:visited {
      color: #fff;
      font-size: 15px;
      padding-right: 10px;
      text-decoration: none;
      font-family: 'Open Sans';
    }
    a:hover {
      color: #8c8c8c;
      text-decoration: none;
    }
  }

  .fa-social {
    a, a:active, a:visited, .a:link {
      font-size: 20px !important;
    }
  }

  ul {
    list-style: none;
    margin-left: -45px;

    li {
      font-size: 12px;
      color: #fff;
      padding: 5px 5px;

      a {
        font-weight: normal;
      }
    }
  }
}

header .navbar-collapse {
  background: #fff;

  .central-menu {
    a:hover {
      color: darkred;
      &:before {
        content: "";
        position: absolute;
        //top: 104%;
        width: 0;
        right: 0;
        border-bottom: 3px solid darkred;
        display: inline-block;
        transition: all .2s ease-in-out;
      }
    }

    .active a, .active a:link, .active a:visited {
      background: #fff;
      color: #262626;
    }

    .active a:hover {
      &:before {
        content: " ";
        position: absolute;
        top: 104%;
        width: 0;
        right: 0;
        border-bottom: 3px solid darkred;
        display: inline-block;
        transition: all .2s ease-in-out;
      }
    }
  }
}

.navbar-brand img {
  padding-top: 0;
  margin: -15px auto;
}



@media (min-width: 700px) {
  header .central-menu {
    margin-left: 15%;
  }

  .hp-expertise {
    .fleft-img {
      text-align: justify !important;

      img {
        padding-left: 50px !important;
      }
    }

    .fleft-list {
      display: block !important;
    }
  }
}

@media (min-width: 800px) {
  header .central-menu {
    margin-left: 25%;
  }
}



.hp-top-head {
  padding: 10px 50px 0;
  background: linear-gradient(60deg, darkred, darkred 50%, red);

  .clearfix {
    padding-left: 0;
  }

  .top-head-box {

    .small-imgs, .small-imgs-android,
    .small-imgs-code, .small-imgs-python,
    .small-imgs-apple, .small-imgs-android2,
    .small-imgs-code2, .small-imgs2 {
      position: absolute;
      top: 15%;
      right: 40%;
      -o-transition: all 1.5s ease-in-out;
      -moz-transition: all 1.5s ease-in-out;
      -webkit-transition: all 1.5s ease-in-out;
      transition: all 1.5s ease-in-out;
    }

    .small-imgs-android {
      top: 45%;
      right: 47%;
    }

    .small-imgs-code {
      top: 16%;
      right: 55%;
    }

    .small-imgs-python {
      top: 60%;
      right: 32%;
    }

    .small-imgs-apple {
      top: 27%;
      right: 30%;
    }

    .small-imgs-android2 {
      top: 15%;
      right: 5%;
    }

    .small-imgs2 {
      top: 70%;
      right: 3%;
    }

    .small-imgs-code2 {
      top: 45%;
      right: 6%;
    }

    .small-imgs:hover, .small-imgs-android:hover,
    .small-imgs-code:hover, .small-imgs-python:hover,
    .small-imgs-apple:hover, .small-imgs-android2:hover,
    .small-imgs-code2:hover, .small-imgs2:hover {
      -o-transition: all 0.5s ease-in-out;
      -moz-transition: all 0.5s ease-in-out;
      -webkit-transition: all 0.5s ease-in-out;
      transition: all 0.5s ease-in-out;
      -o-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
      -moz-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      cursor: pointer;
    }

    .head-logo {
      position: relative;
      left: 0;
      float: left;
      padding-top: 30px;
      margin-left: 0;
    }

    .head-text {
      float: left;
      color: #fff;
      padding: 95px 10px 0;
      display: flex;
      flex-direction: column;
      font-weight: 400;
      font-family: 'Brandon Gratesque';
      line-height: 90px;

      .small-text {
        font-size: 16px;
      }

      .big-text {
        text-transform: uppercase;
        font-size: 36px;
        line-height: 60px;
      }

      .link-btn {
        padding-top: 45px;
        text-transform: uppercase;
        font-family: "Open Sans";

        a, a:active, a:link, a:visited {
          color: darkred;
          padding: 15px 35px;
          font-size: 14px;
          border-radius: 60px;
          background: #fff;
          text-decoration: none;
          img {
            padding-left: 15px;
          }
        }

        a:hover {
          text-decoration: none;
          color: red;
        }
      }
    }
  }
}

.hp-expertise, .hp-portfolio, .hp-feedback {
  margin-top: 25px;

  .exp-title {
    font-size: 28px;
    color: #0f0f0f;
    padding: 10px 0;
    text-transform: uppercase;
    font-family: "Brandon Gratesque Medium";
  }

  .exp-view-more {
    padding: 20px 0;
    text-transform: uppercase;
    font-family: 'Open Sans';
    display: inline-table;

    a, a:active, a:link, a:visited {
      background: #e7e7e7;
      color: darkred;
      font-size: 14px;
      padding: 5px 15px;
      border-radius: 60px;
      text-decoration: none;

      img {
        padding-left: 15px;
        padding-bottom: 3px;
      }
    }

    a:hover {
      text-decoration: none;
      color: red;

      img {
        opacity: 0.6;
      }
    }
  }

  .exp-img-box {
    text-align: center;
    padding: 10px 15px;

    img {
      height: 60px;
    }
  }

  .exp-img-title {
    text-align: center;
    font-size: 24px;
    font-family: 'Open Sans'
  }

  .exp-img-list {
    padding: 10px 30px;
    font-size: 13px;
    opacity: 0.5;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  @media (max-width: 415px) {
    .hp-expertise {
      .exp-img-title {
        padding: 10px 100px !important;
      }
    }
  }
}

.hp-portfolio {
  margin-bottom: 35px;

  .exmpty-sq {
    margin: 45px auto;
  }

  .pf-box {
    position: relative;
    margin: 10px auto 15px;
    -o-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;

    .img-logo1 {
      position: absolute;
      width: 85%;
      top: 35%;
      left: 10%;
      -webkit-filter: grayscale(100%);
      filter: grayscale(100%);
      z-index: 99;
    }

    .ehover12 {
      .img-responsive {
        width: 380px;
        height: 320px;
        -webkit-filter: blur(3px);
        filter: blur(3px) grayscale(100%);
      }
    }

    .ehover12 img {
      transition: none;
      transform: none;
      object-fit: cover;
    }

    .ehover12:hover {
      background: rgb(255,0,0);

      .img-responsive {
        -webkit-filter: blur(0px);
        filter: blur(0px) grayscale(0%)
      }

      .img-logo1 {
        opacity: 1;
        -webkit-filter: grayscale(0%);
        filter: grayscale(0%);
      }
    }

    .pf-box-title {
      font-family: 'Open Sans' !important;
      font-size: 26px !important;
      padding: 10px 0 !important;

      .title-text-pf {
        color: #262626 !important;
      }

      .title-border {
        width: 90px;
        height: 6px;
        background: #c40000;
        margin-top: 16px;
      }
    }
  }

  .pf-box:hover, .box-down {
    position: relative;
    -o-transform: translateY(25px);
    -ms-transform: translateY(25px);
    -moz-transform: translateY(25px);
    -webkit-transform: translateY(25px);
    transform: translateY(25px);
  }

  .box-small {
    height: 270px;
    top: 50px;

    .img-logo1 {
      width:65%;
      top: 20%;
      left: 10%;
      filter: grayscale(50%);
    }
  }
}

.hp-feedback {
  margin: 60px auto;

  .exp-title {
    font-family: "Brandon Gratesque";
  }

  .req-formbox {
    margin-top: 15px;
    margin-left: -25px;
    text-align: center;

    input {
      display: list-item;
      width: 100%;
      margin: 35px 0;
      border: 0;
      padding: 10px 5px;
      border-bottom: 1px solid #b9b9b9;

      &:focus {
        border: 0;
      }
    }

    input:first-child {
      margin-top: -20px;
    }

    a, a:active, a:link, a:visited {
      padding: 6px 60px;
      background: #c00000;
      border-radius: 60px;
      color: #fff;
      font-family: 'Brandon Gratesque Medium';
      font-size: 15px;
      text-transform: uppercase;
      text-decoration: none;
    }

    a:hover {
      background: red;
      text-decoration: none;
    }
  }
}

//// Hover Effects
.hover {
  width: 100%;
  height: 100%;
  overflow: hidden;
  text-align: center;
}

.ehover12 {
  background: #646464;

  img {
    max-width: none;
    //width: calc(100% + 20px);
    -webkit-transition: opacity .35s,-webkit-transform .35s;
    transition: opacity .35s,transform .35s;
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  &:hover img {
    opacity: .4;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  h2 {
    position: relative;
    overflow: hidden;
    padding: .5em 0;
    background-color: transparent;
    &::after {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 2px;
      background: #fff;
      -webkit-transition: -webkit-transform .35s;
      transition: transform .35s;
      -webkit-transform: translate3d(-100%, 0, 0);
      transform: translate3d(-100%, 0, 0);
    }
  }
  &:hover h2::after {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  button {
    color: #FFF;
    opacity: 0;
    -webkit-transition: opacity .35s,-webkit-transform .35s;
    transition: opacity .35s,transform .35s;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  &:hover button {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

